@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p span {
    position: relative;
    top: -0.075em
}